:host {
	height: 100%;
	margin: 0;
}

.test {
	box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    padding: 5px;
    width: 100px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 11px;
  }

  .test-tb {
	width: 50%;
  }

.mat-column-weight {
	width:  70% !important;;
}  

.mat-cell {
	border-right: 1px solid lightgray;
	border-bottom:  none !important;
	padding: 5px !important;
}

.mat-column-symbol {
	border-right: none !important;
}  

.mat-column-name {
	width: 10%;
}  


.mat-row:nth-child(even){
    background-color: white;
}
        
.mat-row:nth-child(odd){
    background-color: #f0f6fa;
}

.mat-header-cell {
	border-right: 1px solid lightgray;
	padding: 5px !important;
}